/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 1060px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 200px;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 300px;
	height: 100%;
	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}


.dashbox
{
	height: 400px;
	width: 1060px;
	position: relative;
	text-align: center;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url("img/interac.png");	
	background-size: 400px;
	

}
.dashbox1
{
	height: 380px;
	margin-top: -300px;	
	position: relative;
	text-align: center;
	background-color: #999966;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url("img/interac.png");
	background-size: 400px;
	
}
.escuela
{
	width: 300px;
	height: 60%;
	background-color: #1F1F5C;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	
    border-radius: 50%;
    
    overflow: hidden;
	
	background-image: url("img/logopucv.png");
	
}
.maker
{
	width: 300px;
	height: 60%;
	background-color: #002400;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	
    border-radius: 50%;
    
    overflow: hidden;
	
	background-image: url("img/maker.png");
	
}
.flickr
{
	width: 300px;
	height: 60%;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;

	position: relative;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	
    border-radius: 50%;
    
    overflow: hidden;
	
	background-image: url("img/Flickr_logo.png");
	
}


