/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    width: 1366px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 20%;
    background-color: #FFFFFF;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 150px;
    -width: 800px;
    width: 75%;
    background-color: #FFFFFF;
    padding: 20px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    /*padding: 0 0 200px;*/
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 230px;
    height: 230px;
    position: relative;
    float: left;
    margin: 10px;

}

.dashbox {
    height: 230px;
    width: 1060px;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.escuela {
    width: 200px;
    height: 90%;
    background-color: #1F1F5C;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin-left: -49px;
    margin-top: 10px;

    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/logopucv.png");

}

.maker {
    width: 200px;
    height: 90%;
    background-color: #002400;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/maker.png");

}

.flickr {
    width: 200px;
    height: 90%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/Flickr_logo.png");

}

.overlay {
    position: fixed;
    height: 66%;
    width: 100%;
    z-index: 2;
    background-color: black;
}
.twitter{

    width: 100%;

}

/* Just for looks */
#twitter {
    background: #fafafa;
    border: 1px solid #eaeaea;
    padding: 5px 15px;
    border-radius: 5px;
    overflow: hidden;
    font: 1.5rem/1.6 Arial, sans-serif;
    color: #333;
}

/* Remove padding, margin, bullets and
 make sure it's only one line */
#twitter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    float: left; /* This makes the ul the full width of the children */
}

/* Tweets on one line, separated */
#twitter ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

#twitter ul li p {
    margin: 0;
}

/* Hide some stuff we don't want */
#twitter ul li div.user,
#twitter ul li p.timePosted,
#twitter ul li p.interact {
    display: none;
}

/* Scroll it (thanks: http://stackoverflow.com/questions/21233033/css3-marquee-effect) */
#twitter ul {
    padding-left: 110%;  /* show the marquee just outside the paragraph */
    -webkit-animation: marquee 60s linear infinite;
}

#twitter ul:hover {
    -webkit-animation-play-state: paused;
}

/* Make it move */
@-webkit-keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

#pucv{
  background-image: url("img/logo-pucv.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 10px;
  width: 175px;
  height: 80px;
  float: right;
}

#ingenieria{
  background-image: url("img/logo-ingenieria.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 10px;
  width: 175px;
  height: 80px;
  float: right;
}
