/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    height: 100%;
}
.container {
    width: 1060px;
    margin: 0 auto;
    height: 1560px;
    background-color: #FFFFFF;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 120px;
    width: 1020px;
    background-color: #FFFFFF;
    padding: 20px 10px;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    /*padding: 0 0 200px;*/
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 100%;
    height: 100px;
    
    


}
.button {
    width: 1060px;
    height: 10%;
    background-color: #1F1F5C;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;

    margin-top: 10px;

    border-radius: 5%;

    overflow: hidden;
    font: 2rem/2 "Impact", Times, serif;
    color:#FFFFFF;

}
.form {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #1F1F5C, #2980b9);
    background-image: -moz-linear-gradient(top, #1F1F5C, #2980b9);
    background-image: -ms-linear-gradient(top, #1F1F5C, #2980b9);
    background-image: -o-linear-gradient(top, #1F1F5C, #2980b9);
    background-image: linear-gradient(to bottom, #1F1F5C, #2980b9);
    border-radius: 15px;
    text-shadow: 1px 1px 0px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font:2rem/2 "Impact", Times, serif;
    color: #ffffff;
    font-size: 66px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
    width: 1060px;
    height: 10%;
}

.form:hover {
    background: #2980b9;
    text-decoration: none;

}

.form:active {
    background-color: #1F1F5C;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.dashbox {
    height: 230px;
    width: 1060px;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}

.escuela {
    width: 200px;
    height: 90%;
    background-color: #1F1F5C;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin-left: -49px;
    margin-top: 10px;

    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/logopucv.png");

}
.historiabtn {
    width: 200px;
    height: 90%;
    background-color: #1F1F5C;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;

    margin-left: 130px;
    margin-top: 10px;
    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/logo-his-bco.png");

}

.pucvbtn {
    width: 200px;
    height: 90%;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin-left: 130px;
    margin-top: 10px;

    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/logo_colores.png");

}


.maker {
    width: 200px;
    height: 90%;
    background-color: #002400;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/maker.png");

}

.flickr {
    width: 200px;
    height: 90%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/Flickr_logo.png");

}
.flickrhistoria{
    width: 200px;
    height: 90%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin-left: -49px;
    margin-top: 10px;
    border-radius: 50%;

    overflow: hidden;

    background-image: url("img/Flickr_logo.png");

}
.overlay {
    position: fixed;
    height: 66%;
    width: 100%;
    z-index: 2;
    background-color: black;
}

/* TWITTER */

/* Id Twitter */
#id-twitter-pucv{
  margin-top:3%;
  font-size: 250%;
  padding:0;
}

/* Barra Twitter */
#twitter {
    background: #fafafa;
    border: 1px solid #eaeaea;
    padding: 5px 12px;
    border-radius: 5px;
    overflow: hidden;
    font: 2rem/2 "Impact", Times, serif;
    color: #333;
    margin: 15px 0;

}

/* Remove padding, margin, bullets and
 make sure it's only one line */
#twitter ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    float: left; /* This makes the ul the full width of the children */
}

/* Tweets on one line, separated */
#twitter ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

#twitter ul li p {
    margin: 0;
}

/* Hide some stuff we don't want */
#twitter ul li div.user,
#twitter ul li p.timePosted,
#twitter ul li p.interact {
    display: none;
}

/* Scroll it (thanks: http://stackoverflow.com/questions/21233033/css3-marquee-effect) */
#twitter ul {
    padding-left: 110%;  /* show the marquee just outside the paragraph */
    -webkit-animation: marquee 90s linear infinite;
}

#twitter ul:hover {
    -webkit-animation-play-state: paused;
}

/* Animación */
@-webkit-keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

#pucvFin{
  background-image: url("img/logo-pucv.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 15px;
  width: 175px;
  height: 80px;
  float: right;
}
#pucv{
    background-image: url("img/logo_colores.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 15px;
    width: 175px;
    height: 80px;
    float: left;
}
#weather{

    margin: 0 15px;
    width: 120px;
    height: 100px;
    float: right;
}

#ingenieria{
  background-image: url("img/logo-ingenieria.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 15px;
  width: 175px;
  height: 80px;
  float: right;
  padding:0;
}
#historia{
    background-image: url("img/logo-his.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 15px;
    width: 175px;
    height: 80px;
    float: left;
    padding:0;
}
#interac{
    background-image: url("img/face.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 175px;
    height: 80px;
    float: right;
    padding:0;
    	
}

#twitter-logo{
  background-image: url("img/twitter-80x80.png");
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: block;
  float: left;
  margin: 15px 0;
  margin-right: 5px;
  padding:0;
}
