doctype html
html
    head
        title= title
        link(href='public/css/style.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='public/css/clock.css')
        script(src='public/js/jquery-2.1.4.min.js')
        script(src='public/js/slide.js')
        //script(src='public/js/clock.js')
        //script(src='public/js/dashbox.js')
        //script(src='components/twitter.js')
        //script(src='public/js/idle.js')


    body
        iframe(class="overlay", style="display:none")
        div(class="container")
           #content.content(style="padding: 0px")


        script(type='text/javascript').
            jQuery(document).ready(function () {

                Slide.start();
                //Clock.start();
                //DashBox.start();


            });

