doctype html
html
    head
        title
        link(href='public/css/style.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='public/css/clock.css')
        script(src='public/js/jquery-2.1.4.min.js')
        script(src='public/js/slide.js')
        script(src='public/js/dashbox.js')
        script(src='public/js/twitterFetcher_min.js')

    body
        iframe.overlay(style='display:none')
        .container
            .header
                #vice
                #weather
                    a(href='//booked.getElementsByTagName/weather/valparaiso-w632826')
                        img(src='//w.bookcdn.com/weather/picture/30_w632826_1_4_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_3.png?scode=124&domid=w209')
                #pucv
            #content.content(style='padding: 0px')
            button(class="form" id="form") Formulario de Inscripción
            div(class="dashbox")
                button(class="guia" id="guia")
                button(class="dpd" id="dpd")
                button(class="biblioteca" id="biblioteca")
                button(class="ddcyf" id="ddcyf")
        script(type='text/javascript').
            jQuery(document).ready(function () {
            });
            var LatestTweets = {
                init: function () {
                    twitterFetcher.fetch({
                        id: '669595905230807043',
                        domId: 'twitter',
                        maxTweets: 5
                    });
                    // analytics
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                    ga('create', 'UA-69484091-5', {'cookiedomain': 'none'});
                    ga('send', 'pageview');
                    // custom
                    $('#guia').on('click', function () {
                        ga('send', 'event', 'btnguia', 'click', 'nav-buttons');
                    });
                    $('#dpd').on('click', function () {
                        ga('send', 'event', 'btndpd', 'click', 'nav-buttons');
                    });
                    $('#biblioteca').on('click', function () {
                        ga('send', 'event', 'btnblb', 'click', 'nav-buttons');
                    });
                    $('#form').on('click', function () {
                        ga('send', 'event', 'btnformulario', 'click', 'nav-buttons');
                    });
                    $('#ddcyf').on('click', function () {
                        ga('send', 'event', 'btnddcyf', 'click', 'nav-buttons');
                    });
                }
            }
            Slide.start();
            DashBox.start();
            LatestTweets.init();