doctype html
html
    head
        title
        link(href='public/css/style.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='public/css/clock.css')
        link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Lato')
        script(src='public/js/jquery-2.1.4.min.js')
        script(src='public/js/slide.js')
        script(src='public/js/dashbox.js')
        script(src='public/js/twitterFetcher_min.js')
        script(type='text/javascript', async='', src='http://www.yourweather.co.uk/wid_loader/05637abb174df2e685bbf8a7b80959fd')
        script(src='https://npmcdn.com/dexie@latest/dist/dexie.js')
        script.
         //
         // Declare Database
         //
         var db = new Dexie("imgDB");
         db.version(1).stores({
            friends: "++id,name,date"
         });
         //
         // Manipulate and Query Database
         /*
          db.friends.add({name: "Josephine", age: 21}).then(function() {
            return db.friends.where("age").below(25).toArray();
          }).then(function (youngFriends) {
            alert ("My young friends: " + JSON.stringify(youngFriends));
          }).catch(function (e) {
            alert ("Error: " + (e.stack || e));
          });*/
    body()
        .container
            .header
                #pucv.vice
                #redes1.red1
                #redes2.red2
                #redes3.red3
                #redes4.red4

              #conten.content(style='padding: 0px;margin-top: -8px;')
            iframe#ifr1(src='',sandbox='allow-scripts allow-pointer-lock allow-same-origin allow-forms', style='display:none;width:1060px;height:1400px;')
            iframe#ifr2(src='',style='display:none;width:1060px;height:1400px;')
            button(class="form" id="form") Agenda de Eventos
            div(class="dashbox")
                button#btn1.estudiantes
                  div.textos Estudiantes
                button#btn2.academicos
                  div.textos Acádemicos
                button#btn3.investigacion
                  div.textos Investigación e Innovación
                button#btn4.internacional
                  div.textos Internacional
        script(type='text/javascript').
            jQuery(document).ready(function () {
            });
            var LatestTweets = {
                init: function () {
                    twitterFetcher.fetch({
                        id: '669595905230807043',
                        domId: 'twitter',
                        maxTweets: 5
                    });
                    // analytics
                    (function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m)
                    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                    ga('create', 'UA-69484091-5', {'cookiedomain': 'none'});
                    ga('send', 'pageview');
                    // custom
                    $('#btn1').on('click', function () {
                        ga('send', 'event', 'btnestudiantes', 'click', 'nav-buttons');
                        $('#iframe').show();
                    });
                    $('#btn2').on('click', function () {
                        ga('send', 'event', 'btnacademicos', 'click', 'nav-buttons');
                    });
                    $('#btn3').on('click', function () {
                        ga('send', 'event', 'btnInvestigacion', 'click', 'nav-buttons');
                    });
                    $('#form').on('click', function () {
                        ga('send', 'event', 'btnagenda', 'click', 'nav-buttons');
                    });
                    $('#btn4').on('click', function () {
                        ga('send', 'event', 'btnInternacional', 'click', 'nav-buttons');
                    });
                     $('#redes1').on('click', function () {
                        ga('send', 'event', 'btnFacebook', 'click', 'nav-buttons');
                    });
                    $('#redes2').on('click', function () {
                        ga('send', 'event', 'btntwitter', 'click', 'nav-buttons');
                    });
                    $('#redes3').on('click', function () {
                        ga('send', 'event', 'btnyoutube', 'click', 'nav-buttons');
                    });
                    $('#redes4').on('click', function () {
                        ga('send', 'event', 'btnflickrPUCV', 'click', 'nav-buttons');
                    });
                    $(document).ready(function () {
                       $('#btn1').click(function () {
                            $('#ifr1').attr('src', 'http://www.pucv.cl/pucv/site/edic/base/port/estudiantes.html');

                            document.getElementById("ifr1").style.display = "block";
                            document.getElementById("ifr2").style.display = "none";
                            document.getElementById("conten").style.display = "none";
                            setTimeout(function () {
                                document.getElementById("conten").style.display = "block";
                                document.getElementById("ifr1").style.display = "none";
                                document.getElementById("ifr2").style.display = "none";
                            }, 120000);
                        });
                        $('#btn2').click(function () {
                            $('#ifr1').attr('src', 'http://www.pucv.cl/pucv/site/edic/base/port/academicos.html');
                             
                            document.getElementById("ifr1").style.display = "block";
                            document.getElementById("ifr2").style.display = "none";
                            document.getElementById("conten").style.display = "none";
                            setTimeout(function () {
                                document.getElementById("conten").style.display = "block";
                                document.getElementById("ifr3").style.display = "none";
                                document.getElementById("ifr1").style.display = "none";
                            }, 120000);
                        });
                        $('#btn3').click(function () {
                            $('#ifr1').attr('src', 'http://www.pucv.cl/pucv/site/edic/base/port/investigacion.html');
                            document.getElementById("ifr1").style.display = "block";
                            document.getElementById("ifr2").style.display = "none";
                            document.getElementById("conten").style.display = "none";
                            setTimeout(function () {
                                document.getElementById("conten").style.display = "block";
                                document.getElementById("ifr1").style.display = "none";
                                document.getElementById("ifr2").style.display = "none";
                            }, 120000);
                        });
                        $('#btn4').click(function () {
                            $('#ifr1').attr('src', 'http://www.pucv.cl/pucv/site/edic/base/port/pucv_internacional.html');
                            document.getElementById("ifr1").style.display = "block";
                            document.getElementById("ifr2").style.display = "none";
                            document.getElementById("conten").style.display = "none";
                            setTimeout(function () {
                                document.getElementById("conten").style.display = "block";
                                document.getElementById("ifr1").style.display = "none";
                                document.getElementById("ifr2").style.display = "none";
                            }, 120000);
                        });
                        $('#form').click(function () {
                            $('#ifr1').attr('src', 'http://www.pucv.cl/pucv/site/tax/port/fil_evento/taxport_28___1.html');
                            
                            document.getElementById("ifr1").style.display = "block";
                            document.getElementById("ifr2").style.display = "none";
                            
                            document.getElementById("conten").style.display = "none";
                            setTimeout(function () {
                                document.getElementById("conten").style.display = "block";
                                document.getElementById("ifr1").style.display = "none";
                                document.getElementById("ifr2").style.display = "none";
                                
                            }, 120000);
                        });
                    });
                }
            }
            Slide.start();
            DashBox.start();
            LatestTweets.init();