doctype html
html
    head
        title= title
        script(src='public/js/jquery-2.1.4.min.js')
        script(src='public/js/slide.js')
    body
<<<<<<< HEAD
        
=======

>>>>>>> a2651fdfdc8f7b0159fe8e0dabd7519cebf4421e
        div(class="container")
            div(class="left")
            div(class="center")
            div(class="right")
        script(type='text/javascript').
            jQuery(document).ready(function() {
                Slide.start();
            });