doctype html
html
  head
    title
    link(href='public/css/style.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='public/css/clock.css')
    script(src='public/js/jquery-2.1.4.min.js')
    script(src='public/js/slide.js')
    script(src='public/js/clock.js')
    script(src='public/js/dashbox.js')
    script(src='public/js/idle.js')
    script(src='public/js/twitterFetcher_min.js')
  body
    iframe.overlay(style='display:none')
    .container
      .header
        #ingenieria
        #pucv
        #twitter.twitter(href='https://twitter.com/ingenieriapucv') Cargando Tweets
      #content.content(style='padding: 0px')
      .dashbox
        button.escuela
        button.flickr
        button.maker
    script(type='text/javascript').
      jQuery(document).ready(function () {
      });
      var LatestTweets = {
      init: function () {
      twitterFetcher.fetch({
      id: '495754794292633600',
      domId: 'twitter',
      maxTweets: 5,
      });
      }
      }
      // custom
      Slide.start();
      Clock.start();
      DashBox.start();
      LatestTweets.init();
