doctype html
html
    head
        title= title
        link(href='public/css/style.css', rel='stylesheet')
        script(src='public/js/jquery-2.1.4.min.js')
        script(src='public/js/slide.js')
        script(type='text/javascript').
            jQuery(document).ready(function () {
                jQuery("#boton").click(function (event) {
                    jQuery("#content").load('http://ingenieria.ucv.cl/conocenos/conocenos_unidadesacademicas.html');
                    });
                });

    body

        div(class="container")
            div(class="header")
                a(class="twitter-timeline", data-widget-id="643873820030464000", href="https://twitter.com/INGENIERIAPUCV", data-chrome="nofooter noborders") @INGENIERIAPUCV
            #content
                .content(style="padding: 0px")
            div(class="dashbox")
                    div(class="footer")
                        button(class="escuela",onClick="location.href='http://ingenieria.ucv.cl/conocenos/conocenos_unidadesacademicas.html'")
                    div(class="footer")
                        button(class="flickr",onClick="location.href='https://www.flickr.com/photos/facultadingenieriapucv/albums'")
                    div(class="footer")
                        button(class="maker", onclick="location.href='http://incubadora.chrysalis.cl/makerspacevalpo/'")


        script(type='text/javascript').
            jQuery(document).ready(function() {
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
                Slide.start();
            });

