doctype html
html
    head
        title= title
        script(src='public/js/jquery-2.1.4.min.js')
    body
        h1 Plataforma Interac
        div.container
            div(class="left")
            div(class="center")
            div(class="right")
