doctype html
html
    head
        title= title
        link(href='public/css/style.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='public/css/clock.css')
        script(src='public/js/jquery-2.1.4.min.js')
        script(src='public/js/slide.js')
        script(src='public/js/clock.js')


    body

        div(class="container")
            div(class="header")
               div(class="clock")
                    span#hours
                    |       :
                    span#minutes
                    |       :
                    span#seconds

                a.twitter-timeline(href='https://twitter.com/SEKPacifico', data-widget-id='495754794292633600' data-chrome="transparent noborders noheader nofooter noscrollbar"
                height="200" width="500" data-slide="right" style="margin-left: 20px") Tweets por el @SEKPacifico.

            #content
                .content(style="padding: 0px")
            div(class="dashbox")
                        button(class="escuela",onClick="location.href='http://ingenieria.ucv.cl/conocenos/conocenos_unidadesacademicas.html'")

                        button(class="flickr",onClick="location.href='https://www.flickr.com/photos/facultadingenieriapucv/albums'")

                        button(class="maker", onclick="location.href='http://incubadora.chrysalis.cl/makerspacevalpo/'")


        script(type='text/javascript').
            jQuery(document).ready(function() {
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
                Slide.start();
            });

