doctype html
html
    head
        title= title
        script(src='public/js/jquery-2.1.4.min.js')
        script(src='public/js/slide.js')
    body

        div(class="container")
            div(class="left")
                a(class="twitter-timeline", data-widget-id="643873820030464000", href="https://twitter.com/INGENIERIAPUCV", data-chrome="nofooter noborders") @INGENIERIAPUCV
            div(class="center")
            div(class="right")
        script(type='text/javascript').
            jQuery(document).ready(function() {
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
                Slide.start();
            });

