doctype html
html
    head
        title= title
        link(href='public/css/style.css', rel='stylesheet')
        link(rel='stylesheet', type='text/css', href='public/css/clock.css')
        script(src='public/js/jquery-2.1.4.min.js')
        script(src='public/js/slide.js')
        script(src='public/js/clock.js')
        script(src='public/js/dashbox.js')
        script(src='components/twitter.js')
        //script(src='public/js/idle.js')


    body
        iframe(class="overlay", style="display:none")
        div(class="container")
            div(class="header")
                div(class="clock")
                div(class="twitter")
                  a.twitter-timeline(aria-haspopup="true" data-target="https://twitter.com/ingenieriapucv" data-widget-id='495754794292633600', data-chrome='noheader nofooter noborders ', data-tweet-limit='6', data-link-color='#FFFFFF', data-border-color='#FFFFFF', lang='EN', data-theme='dark', height='200', width='520', data-screen-name='INGENIERIAPUCV', data-show-replies='false', data-aria-polite='assertive') Tweets por el @INGENIERIAPUCV
            #content.content(style="padding: 0px")

            div(class="dashbox")
                button(class="escuela")
                button(class="flickr")
                button(class="maker")


        script(type='text/javascript').
            jQuery(document).ready(function () {
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
                Slide.start();
                Clock.start();
                DashBox.start();


            });

